@import url(normalize.css);
body {
  font-family: "Lato", sans-serif;
}

p {
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #444444;
  line-height: 24px;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  background: #064354;
}

.header {
  width: 100%;
  height: 200px;
  background: #035656;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 200px;
}
.header a,
.header a:visited {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.post {
  margin: 20px 0 50px 0;
  padding: 30px;
  background: #fff;
  position: relative;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
}

.donate {
  margin-bottom: 40px;
  text-align: center;
}

.btn {
  padding: 10px 30px 20px 30px;
  background: #299b5d;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 130px;
  transition: all 0.3s linear;
  text-shadow: 0 -2px 0 #248751;
  border-radius: 4px;
  box-shadow: inset 0 -8px 0 #248751, 0 5px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  padding: 10px 30px 18px 30px;
  position: relative;
  top: 2px;
  box-shadow: inset 0 -6px 0 #248751, 0 3px 0 rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #299b5d;
  line-height: 30px;
}

.copy ol,
.copy ul {
  margin: 0;
}
.copy ol li,
.copy ul li {
  padding-left: 20px;
  margin-bottom: 16px;
  list-style-type: none;
}
.copy blockquote {
  font-style: italic;
  margin: 0;
}
.copy a,
.copy a:visited {
  color: #299b5d;
  text-decoration: none;
  border-bottom: 1px dotted #299b5d;
}
.copy a:hover,
.copy a:visited:hover {
  color: #1e7345;
  border-bottom: 1px solid #1e7345;
}

.footer {
  font-size: 12px;
  line-height: 18px;
}

.post-date {
  width: 50px;
  height: 50px;
  margin: -50px auto 20px auto;
  background: #eee;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
.post-date .post-date-month {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.post-date .post-date-day {
  background: #299b5d;
  color: #fff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  box-shadow: inset 0 -2px 0 #248751;
}
